<!DOCTYPE html>
<html lang="ja">
<head> 
    <meta charset="utf-8" />
    <title>Chample - プライバシーポリシー</title>
    <meta name="description" content="Champleのプライバシーポリシーです。" />
    <meta name="keywords" content="プライバシーポリシー,Chample" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="stylesheet" href="./stylesheets/privacy.css" />
    <link rel="stylesheet" href="./stylesheets/privacy_pc.css" media="screen and (min-width:800px)"/>
</head>

<body>
    <div id="topMenu">
        <div id="topMenuFrame">
        <a href="/"><img src="./images/back.png" width="24" height="24" alt="back"><span>戻る</span></a>
        </div>
    </div>
    <div id="mainFrame">
        <a href="/privacy"><span id="changeLang" class="clickable">English</span></a>
        <h1>プライバシーポリシー</h1>
        <p>私たちChample株式会社（以下、「当社」といいます）は、当社が提供するChample におけるお客様情報を以下の通り取り扱います。<p>
        <p class="subheadline">適用範囲</p>
        <p>本プライバシーポリシーはChampleに関する全てのサービス（以下、「本サービス」といいます）に適用されます。別途にサービス別のプライバシーポリシーまたは個別利用規約等（以下、「個別規約」といいます）においてお客様情報の取り扱いを規定する場合は、個別規約も適用されます。本プライバシーポリシーと個別規約において矛盾が発生する場合は個別規約が優先されます。</p>
        <p>なお、リンク先など他事業者等による個人情報収集は、本プライバシーポリシーの適用範囲ではございません。また、本プライバシーポリシーは日本国内でご利用のお客様に適用されます。日本以外でご利用のお客様は<a href="/privacy" class="clickable">こちら</a>をご覧ください。</p>

        <p class="subheadline">取得する情報及び利用方法</p>
        <p>当社は本サービスにおいて次のように情報を取得及び利用いたします。</p>

        <p class="subheadline">ご提供いただく情報</p>
        <p>国籍</p>
        <p>本サービスを利用する際、お客様の国籍を以下の目的で取得する場合がございます。</p>
        <p>1)お客様間のコミュニケーションの円滑化のため</p>
        <p>2)利用状況を分析し、より良いサービス提供のため</p>
        <p>情報のご登録はお客さまの任意ですが、ご登録いただけない場合、本サービスまたは本サービスの一部をご利用いただけない場合がございます。</p>

        <p class="subheadline">サービス利用情報</p>
        <p>• クッキー（Cookie）</p>
        <p>ユーザーの設定内容の保存等お客様の利便性向上のため、セッションの維持及び保護等セキュリティのため、お客様が利用した本サービスに対する訪問回数及び利用形態、お客様の規模等の把握により、より良いサービスを提供するためにクッキーを利用いたします。また、本サービスではGoogle Analyticsを利用する場合がございます。</p>
        <p>お客様はクッキーの使用可否を選択できますが、クッキーの保存を拒む場合には本サービスの一部をご利用いただけない場合がございます。</p>
        <p>• ログ</p>
        <p>お客様が本サービスを利用した際にIP アドレス、ブラウザ種類、ブラウザ言語等の情報が自動で生成、保存されます。これらの情報は利用者環境を分析し、より良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用いたします。</p>
        <p>• 機器情報</p>
        <p>お客様が利用される機器情報（OS、端末の個体識別情報、コンピュータ名、広告ID等）を取得する場合がございます。また、取得した広告IDを当社がお客様に付与した内部識別子に紐付ける場合がございます。これらの情報はより良いサービス提供のため、またご本人確認や正常なサービス提供を妨害する不正行為防止のために利用いたします。</p>

        <p class="subheadline">情報の利用目的</p>
        <p>当社は取得した個人情報を以下の目的で利用いたします。なお、取得時に利用目的を限定した場合は、その範囲内でのみ利用いたします。</p>
        <p>• 不正利用防止のため</p>
        <p>• お客様が本サービスを円滑に利用できるようにするため</p>
        <p>• 本サービス利用に関する統計データを作成するため</p>
        <p>• 現在提供している本サービスまたは今後提供を検討している本サービスに関するアンケート実施のため</p>
        <p>• お客様からのお問い合わせに対する対応のため</p>
        <p>• 本サービスに関する情報等または当社以外の事業者が広告主となる広告情報等を告知するため</p>
        <p>• 今後の本サービスに関する新企画立案を行い提供するため</p>
        <p>• お客様からのお問い合わせ時等、本人確認を行うため</p>

        <p class="subheadline">情報の提供</p>
        <p>当社はお客様の個人情報を下記の場合を除いて第三者に提供することはございません。</p>
        <p>• ご本人が事前に同意した場合</p>
        <p>• 法律に基づく場合</p>
        <p>• お客様が本サービスの利用規約に違反し、弊社の権利、財産やサービス等を保護するために、個人情報を公開せざるをえないと判断するに足る十分な根拠がある場合</p>
        <p>• 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合</p>
        <p>• 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合</p>
        <p>• 国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</p>
        <p>• 合併、会社分割、営業譲渡その他の事由によって個人情報の提供を含む弊社の事業の承継が行われる場合</p>
         
        <p class="subheadline">情報の預託</p>
        <p>当社は利用目的の達成に必要な範囲内においてお客様から取得した個人情報の全部または一部を業務委託先に預託することがございます。その際、業務委託先としての適格性を十分審査するとともに、契約にあたって守秘義務に関する事項等を規定し、情報が適正に管理される体制作りを行います。</p>
         
        <p class="subheadline">情報の共同利用</p>
        <p>本サービスを提供するにあたり、当社と共同して業務を行うビジネスパートナーが必要な場合には、お客様の個人情報をそのビジネスパートナーと共同利用することがあります。この場合に当社は、利用目的、ビジネスパートナーの名称、情報の種類、管理者の名称についてお客様に公表した上で共同利用することといたします。</p> 
         
        <p class="subheadline">利用者の権利</p>
        <p>お客様はいつでもご登録されている情報を、本サービスサイト上で訂正することができます。
        お客様から当社への個人情報の提供は任意ですが、必要な情報をご提供いただけない場合、本サービスの一部を利用できない場合がございます。</p>

        <p class="subheadline">本プライバシーポリシーの改定</p>
        <p>本プライバシーポリシーは改定されることがあります。重要な変更にあたってはお客様に対してわかりやすい方法にて改定内容を告知いたします。</p>

        <p class="subheadline">お問い合わせ</p>
        <p>本プライバシーポリシーに関してご不明な点がある場合、本サービスにおける個人情報の取り扱いに関するご質問・苦情・ご相談等があります場合は<a class="clickable" href="mailto:contact@chample.in">メール</a>にてご連絡ください。</p>
    </div>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-74825022-1', 'auto');ga('send', 'pageview');</script>
</body>

</html>